body {
    background-color: #111;
    color: #eee;
    font: 18px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.container {
    padding-bottom: 4em;
}

#main {
    margin-top: 4%;
}

#sidebar {
    margin-top: 5%;
    font-size: 0.8em;
}

#ads {
    float: right;
}

#footer {
    font-size: small;
    color: #888;
    height: 2em;
    position: absolute;
    bottom: 2em;
    left: 0;
}

#dropdown {
    margin-top: 40px;
}

#dropdown.open > .btn-dark {
    background: #333;
    border: solid 1px #888;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 0;
    margin: 4px 0;
}

#dropdown.open .icon-bar {
    background: #888;
}

.dropdown-menu {
    background: #333;
    border-radius: 0;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.75);
}

.dropdown-menu > li > a {
    color: inherit;
    text-decoration: none;
}

.dropdown-menu > li:hover {
    background: #333;
    color: #111;
}

a {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #ddd;
}

a:hover {
    color: #fff;
}

a:active {
    color: #aaa;
}

a.unstyled,
a.unstyled:link,
a.unstyled:visited,
a.unstyled:hover,
a.unstyled:active {
    text-decoration: none;
    color: inherit;
}

a.header {
    font-family: "Lora", serif;
    color: #eee;
    text-decoration: none;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    display: block;
}

.search,
.tt-query,
.tt-hint {
    font-size: x-large;
}

.tt-hint {
    color: #777 !important;
}

.twitter-typeahead {
    width: 100%;
}

.tt-dataset.tt-dataset-formulas,
.tt-dataset.tt-dataset-titles {
    display: none !important;
}

#results {
    margin-top: 32px;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
.search:focus {
    border: none;
    border-bottom: solid 2px #5b0;
    box-shadow: none;
}

legend {
    color: inherit;
    border-bottom: solid 2px #5b0;
    padding-bottom: 4px;
    margin-bottom: 16px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    color: #eee;
    outline: none;
    background: #111;
    border-radius: 0;
    border: none;
    border-bottom: solid 2px #333;
}

.help-block-custom {
    font-size: 12px;
    margin-bottom: 0;
    float: right;
}

textarea.form-control {
    border: solid 1px transparent;
    border-radius: 0;
    background: #222;
    color: #fff;
    padding: 8px;
}

textarea.form-control:focus,
textarea.form-control:active {
    box-shadow: none;
    border: solid 1px #5b0;
}

.formula {
    min-height: 32px;
    border: solid 1px #5b0;
    margin: 8px 0;
    padding: 16px;
}

.formula .title {
    margin-bottom: 16px;
    color: #eee;
}

.formula-math {
    max-width: 80%;
    min-width: 50%;
    margin: auto;
    background: #222;
    text-align: center;
    padding: 8px;
    font-size: 1.2em;
    margin-bottom: 16px;
}

.formula-math-lg {
    max-width: 100%;
    min-width: 100%;
    margin: 16px 0;
    font-size: 1.8em;
}

.formula-math-preview {
    margin: 0;
    min-height: 1.8em;
}

.formula-math svg {
    max-width: 100%;
}

ul.formula-list {
    list-style-type: square;
}

ul.formula-list li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.privacy p {
    color: #ccc;
    font-size: 14px;
}

.btn-dark {
    background: inherit;
    border: solid 1px #ccc;
}

pre,
.well {
    color: #fff;
    background: #222;
    border-radius: 0;
    border: none;
}

.well {
    font-size: 16px;
}

.g-recaptcha > div > div > iframe {
    border-radius: 5px;
    width: 300px;
    height: 76px;
}


/*.g-recaptcha, #rc-imageselect {
    transform: scale(0.88);
    transform-origin: 0;
}*/


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    #main {
        margin-top: initial;
    }
    #sidebar {
        margin-top: initial;
    }
    #dropdown {
        margin: 20px 0 2px;
    }
    .header {
        margin: 4px 0 2px;
    }
    .formula .formula-math {
        max-width: 100%;
        min-width: 80%;
    }
    .g-recaptcha,
    #rc-imageselect {
        transform: scale(0.92);
        -webkit-transform: scale(0.92);
        -ms-transform: scale(0.92);
        transform-origin: 0;
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
    }
}