extends ../layout

block meta
	meta(name='description', content='Quickly look up mathematical formulae of all kinds. Add a formula you cannot find.')
block scripts
	script(type='text/javascript' src='/javascripts/typeahead.bundle.min.js')
block content
	.row
		include ../partials/sidebar
		.col-sm-6#main
			input.search(type='text', placeholder='sin 2x, cos^3 x, etc', autofocus, autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
			.row: .col-sm-12#results
		.col-sm-3
			#ads
				script()
					include ../includes/chitika-right.js
			script(type='text/javascript', src='//cdn.chitika.net/getads.js', async)
	script(type='text/javascript' src='/javascripts/script.js')
	script.
		$('.tt-input').focus();