extends ../layout

block scripts
block content
	.row
		include ../partials/sidebar
		.col-sm-6.privacy#main
			
			legend Privacy Policy for formulae.in

			p Here is information on what types of personal information we receive and collect when you use and visit formulae.in, and how we safeguard your information.  We never sell your personal information to third parties.

			h4 Log Files
			p The information in the log files includes your IP (internet protocol) address, your ISP (internet service provider), the browser you used to visit our site (such as Internet Explorer or Firefox), the time you visited our site and which pages you visited throughout our site.

			h4 Cookies and Web Beacons

			p We use third party advertisements on formulae.in to support our site. Some of these advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Chitika) information possibly including your IP address, your ISP, the browser you used to visit our site, etc. This is generally used for geotargeting purposes (showing New York real estate ads to someone in New York, for example) or showing certain ads based on specific sites visited (such as showing cooking ads to someone who frequents cooking sites).

			p: strong You can chose to disable or selectively turn off our cookies or third-party cookies in your browser settings, or by managing preferences in programs such as Norton Internet Security. You can also click on 'Opt Out' buttons which may be displayed on third party advertisements. This does not affect your ability to use the site.